.App {
  text-align: center;
  background: cadetblue;
  color: cornsilk;
}
ol {
  max-width: 50%;
  margin: 0 auto;
}
.App-logo {
  height: 40vmin;
}

.Letters {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
